.container {
  border: 2px solid red;
  height: 100%;
}

.doctor {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

.last-name {
  float: right;
}